In [5]:
import numpy as np 
import pandas as pd

In [6]:
df1 = pd.read_csv('country landmass.csv')
df2 = pd.read_csv('country population.csv')

i. What are the top 5 countries with the highest
population density? Population density is calculated
as population/area.

In [7]:
df1.head()

       Countries  Land Area (sq.km)  Global Rank
0         Russia           16376870            1
1          China            9424703            2
2  United States            9147420            3
3         Canada            8965590            4
4         Brazil            8358140            5

In [8]:
df2.head()

   Rank        Country  Population
0     1          India  1428627663
1     2          China  1425671352
2     3  United States   339996563
3     4      Indonesia   277534122
4     5       Pakistan   240485658

In [9]:
df1.shape

(196, 3)

In [10]:
df2.shape

(233, 3)

In [11]:
df3 = df1.merge(df2, how ='inner', left_on = 'Countries', right_on = 'Country')

In [12]:
df3['Density'] = df3['Population'] /df3['Land Area (sq.km)']

In [13]:
df3.sort_values(by="Density", ascending=False, inplace=True)

In [14]:
df3.head(5)

,Countries,Land Area (sq.km),Global Rank,Rank,Country,Population,Density
171,Macao,33,193,167,Macao,704149,21337.848485
174,Monaco,2,196,215,Monaco,36297,18148.500000
157,Singapore,718,177,114,Singapore,6014723,8377.051532
152,Hong Kong,1050,171,104,Hong Kong,7491609,7134.865714
173,Gibraltar,10,195,217,Gibraltar,32688,3268.800000